
*.db
projects/georgeja/dominion/.vs/dominion/v15/.suo
dominion/.vs/dominion/v15/.suo
*.opendb
projects/georgeja/dominion/badTestDrawCard
*.gcno
*.gcov
*.gcda
*.o
projects/georgeja/dominion/playdom
projects/georgeja/dominion/player
projects/georgeja/dominion/testDrawCard
*.out
*.ipch
*.vcxproj
*.filters
*.user
*.filters
*.vcxproj
projects/georgeja/dominion/cardtest1
projects/georgeja/dominion/cardtest2
projects/georgeja/dominion/cardtest3
projects/georgeja/dominion/cardtest4
projects/georgeja/dominion/unittest1
projects/georgeja/dominion/unittest2
projects/georgeja/dominion/unittest3
projects/georgeja/dominion/unittest4
*.filters
*.vcxproj
dominion/.leu
*.expand
*.vregs
*.into_cfglayout
*.jump
*.reginfo
*.outof_cfglayout
*.split1
*.dfinit
*.mode_sw
*.asmcons
*.ira
*.reload
*.split2
*.pro_and_epilogue
*.dwarf2
*.final
*.dfinish
*.nothrow
*.shorten
*.barriers
*.mach
*.alignments
*.stack
*.jump2
*.tlog
projects/georgeja/RandomTestingQuiz/.vs/RandomTestingQuiz/v15/.suo
*.log
projects/georgeja/quiz/.leu
projects/georgeja/quiz/.vs/RandomTestingQuiz/v15/.suo
projects/georgeja/quiz/RandomTestingQuiz/testme
