
dominion/.vs/dominion/v15/.suo
*.db
*.ipch
*.user
*.expand
*.vregs
*.into_cfglayout
*.asmcons
*.jump
*.outof_cfglayout
*.reginfo
*.split1
*.dfinit
*.mode_sw
*.reload
*.ira
*.split2
*.pro_and_epilogue
*.jump2
*.stack
*.mach
*.alignments
*.barriers
*.shorten
*.nothrow
*.dwarf2
*.final
*.dfinish
*.gcda
*.gcno
*.gcov
*.o
*.out
*.log
*.filters
projects/georgeja/quiz/RandomTestingQuiz/Debug/RandomTe.FC234F55.tlog/unsuccessfulbuild
*.lastbuildstate
*.tlog
projects/georgeja/quiz/.vs/RandomTestingQuiz/v15/.suo
projects/georgeja/quiz/.leu
projects/georgeja/quiz/RandomTestingQuiz/testme
projects/georgeja/dominion/badTestDrawCard
projects/georgeja/dominion/.vs/dominion/v15/.suo
projects/georgeja/dominion/cardtest1
projects/georgeja/dominion/unittest4
projects/georgeja/dominion/unittest3
projects/georgeja/dominion/unittest2
projects/georgeja/dominion/unittest1
projects/georgeja/dominion/cardtest4
projects/georgeja/dominion/cardtest3
projects/georgeja/dominion/cardtest2
*.class
*.correct
*.INCORRECT
